<header class="navbar navbar-head">
    <div class="main-header">
      <div class="container">
          <ul class="nav navbar-nav navbar-mega-menu navbar-left">
       <img alt="" src="../../assets/images/TCTLogocopy.png" width="300px" /> 
          </ul>
        <ul class="nav navbar-nav navbar-mega-menu navbar-right">
          <li class="Link">
            <a routerLink="/form">Create Leads</a>
          </li>
          <li class="Link">
            <a routerLink="/list">View Leads</a>
          </li>
          <li class="Link">
              <a routerLink="/formCompany">Create Corporate Leads</a>
            </li>
            <li class="Link">
                <a routerLink="/listCompany"> View Corporate Leads</a>
              </li>
              <li class="Link">
                  <a routerLink="/dashboard">Dashboard</a>
                </li>

        </ul>
      </div>
    </div>
  </header>