  <div class="wrapper">
      <div>
          <app-nav> </app-nav>
        </div>
    <div class="container">
      <div class="form-row">
        <form #form="ngForm" class="form-horizontal" (ngSubmit)="save()" novalidate>
          <div class="col-md-5">
            <!-- <div class="form-group">
              <label for="employeeName" class="control-label">Employee Name<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <select  class="form-control" name="employeeName" id="employeeName" required [(ngModel)]="formData.employeeName" #employeeName="ngModel">
                <option value="Gopinath">Gopinath </option>
                <option value="Apsara Sultana">Apsara Sultana</option>
                <option value="Lavanya">Lavanya </option>
                </select>
                <app-show-error [control]="employeeName"></app-show-error>
            </div> -->
            <div class="form-group">
              <label for="CustomerName" class="control-label">Customer Name<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="text" class="form-control" name="CustomerName" id="CustomerName" required [(ngModel)]="formData.customerName" #CustomerName="ngModel">
          <app-show-error [control]="CustomerName"></app-show-error>
            </div>
            <div class="form-group">
              <label for="CustomerContact" class="control-label">Customer Contact<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="number" min="0" maxlength="10" class="form-control" name="CustomerContact" id="CustomerContact" required [(ngModel)]="formData.customerContact"  #CustomerContact="ngModel">
              <app-show-error [control]="CustomerContact"></app-show-error>
            </div>
            <div class="form-group">
              <label for="CustomerEmail" class="control-label">Customer Email</label>
              <input type="text" class="form-control"  cols="15" name="CustomerEmail" id="CustomerEmail" [(ngModel)]="formData.customerEmail" >
        
            </div>
            <div class="form-group">
              <label for="Product" class="control-label">Product<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="text" class="form-control" name="Product" id="Product" required [(ngModel)]="formData.product" #Product="ngModel">
              <app-show-error [control]="Product"></app-show-error>
            </div>
            <div class="form-group">
                <label for="Source" class="control-label">Source<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
                <input type="text" class="form-control" name="Source" id="Source"  required [(ngModel)]="formData.source"  #Source="ngModel">
                <app-show-error [control]="Source"></app-show-error>
              </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            <div class="form-group">
              <label for="Destination" class="control-label">Destination<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="text" class="form-control" name="Destination" id="Destination" required [(ngModel)]="formData.destination" #Destination="ngModel">
              <app-show-error [control]="Destination"></app-show-error>
            </div>
            <div class="form-group">
              <label for="BookingDate" class="control-label">Enquiry Date<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="date" [min]="today" class="form-control" name="BookingDate" id="BookingDate" required [(ngModel)]="formData.bookingDate" #BookingDate="ngModel">
              <app-show-error [control]="BookingDate"></app-show-error>
            </div>
            <div class="form-group">
              <label for="TravelDate" class="control-label">Travel Date<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
              <input type="date" [min]="today"  class="form-control" name="TravelDate" id="TravelDate" required [(ngModel)]="formData.travelDate" #TravelDate="ngModel">
              <app-show-error [control]="TravelDate"></app-show-error>
            </div>
            <div class="form-group">
                <label for="Passengers" class="control-label">Passengers<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i></label>
                <input type="number" min="0"  class="form-control" name="Passengers" id="Passengers" required [(ngModel)]="formData.Passengers" #Passengers="ngModel">
                <app-show-error [control]="Passengers"></app-show-error>
              </div>
            <div class="form-group">
              <label for="Remarks" class="control-label">Remarks<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i>
              </label>
              <textarea class="form-control" name="Remarks" id="Remarks" rows="5" [cols]="20" required [(ngModel)]="formData.remark" #Remarks="ngModel"></textarea>
              <app-show-error [control]="Remarks"></app-show-error>
            </div>
            <br>
            <div class="form-group">
              <input type="submit"  class="btn btn-info" value="Submit" [disabled]="form.invalid"  [ngClass]="form.invalid ? 'disabled' : 'pointer' ">
            </div>
          </div>
        </form>
      </div>


    </div> <!-- end container -->
  </div>