<div class="wrapper">
  <div>
    <app-nav> </app-nav>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <div class="form-group">
        <div class="form-group "> 
          <button class="btn btn-primary  btn-block" routerLink="/list" >Leads List </button>
        </div>&nbsp;
        <div class="form-group">
           <button class="btn btn-primary  btn-block" routerLink="/form" >Create Leads</button>
        </div>&nbsp;
        <div class="form-group">
          <button class="btn btn-primary  btn-block" routerLink="/listCompany">Corporate Leads List </button>
          </div>&nbsp;
        <div class="form-group">
          <button class="btn btn-primary btn-block" routerLink="/formCompany"> Create Corporate Leads </button>
        </div>&nbsp;
      </div>

    </div>
    <div class="col-md-5"></div>
  </div>

</div>
