<div class="wrapper">
  <div>
    <app-nav> </app-nav>
  </div>
  <form class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="username" class="control-label">User Name<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i>
        </label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]='register.username'
          required>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i>
        </label>
        <input type="text" class="form-control" name="email" id="email" required [(ngModel)]='register.email' #email="ngModel">
      </div>
      <div class="form-group">
        <label for="newpasssword" class="control-label">New Passsword<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i>
        </label>
        <input type="password" class="form-control" name="newpasssword" id="newpasssword" required [(ngModel)]='register.newPasssword' #newpassword="ngModel">
      </div>
      <div class="form-group">
        <label for="confirmpasssword" class="control-label">Confirm Passsword<i class="fa fa-asterisk" style="font-size:6px;color:red; position: absolute;"></i>
        </label>
        <input type="password" class="form-control" name="confirmpasssword" id="confirmpassword" required [(ngModel)]='register.confirmPassword' #confirmpassword="ngModel">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-info" value="Register" (click)="submitRegistration()">
      </div>


    </div>
    <div class="col-md-4"></div>
  </div>
</form>
</div>